<ion-header>
  <ion-toolbar>
    <ion-title>
      หน้าบวก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-item>
      <ion-label position="stacked">ตัวตั้ง</ion-label>
      <ion-input [(ngModel)]="first"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">ตัวบวก</ion-label>
      <ion-input [(ngModel)]="second"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">ผลลัพธ์</ion-label>
      <ion-input> {{result}}</ion-input>
    </ion-item>
    <ion-button expand="block" (click)="calculate(first,second)">
      คำนวณ
    </ion-button>
  </div>
</ion-content>
